@import "~@blueprintjs/core/src/blueprint.scss";
@import "~@blueprintjs/select/src/blueprint-select.scss";
@import "~@blueprintjs/icons/lib/css/blueprint-icons.css";

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.layout {
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: 50px 1fr 50px;
  grid-template-areas: "header header header" "sidebar content content" "footer footer footer";

  .header { grid-area: header; }

  .footer { grid-area: footer; }

  .sidebar {
    grid-area: sidebar;
    margin: 30px;
  }

  .content {
    grid-area: content;
    margin: 30px;
  }
}

.execution-list-table {
  border-bottom: 1px dashed #ddd;
  display: grid;
  height: 60px;
  padding: 0 20px;
  grid-template-columns: 1fr 150px 100px 1fr;
  grid-template-rows: 19fr 20fr;
  grid-template-areas: "title indicator time operations" "info indicator time operations";

  .indicator {
    grid-area: indicator;
    margin: auto 0;
    padding-right: 10px;
  }
  .time {
    grid-area: time;
    margin: auto 0;
    @extend .bp3-text-muted;
    @extend .bp3-text-small;
  }

  .operations {
    grid-area: operations;
    visibility: hidden;
    margin: auto 0;
  }

  .title {
    grid-area: title;
    margin: auto 0 0 0;
  }
  .info {
    grid-area: info;
    
    .bp3-tag {
      margin-right: 5px;
    }
  }
}

.execution:hover .operations {
  visibility: visible;
}

.execution-brief-container {
  display: flex;
  flex-wrap: wrap;

  .execution:hover {
    background-color: #eee;
  }

  .execution {
    display: grid;
    grid-template-columns: 50px 3fr 1fr;
    grid-template-rows: 1fr 25px;
    grid-template-areas: "indicator title info" "indicator tags info";
    border: 1px #ddd dashed;
    border-radius: 5px;
    min-width: 400px;
    margin: 10px;
    padding: 5px;
    cursor: pointer;

    .indicator {
      grid-area: indicator;
      margin: auto;
    }

    .tags {
      grid-area: tags;
      margin: auto 0;
      .bp3-tag {
        margin-right: 5px;
      }
    }

    .title {
      grid-area: title;
      margin: 0;
      padding-right: 15px;

      ol {
        list-style: none;
        padding: 0;
        margin: 5px 0;
        @extend .bp3-monospace-text;

        li {
          white-space: nowrap;
        }
      }
    }

    .info {
      grid-area: info;
      margin: auto 0;
      white-space: nowrap;
      @extend .bp3-text-muted;
      @extend .bp3-text-small;
    }
  }
}



.execution-full {
  margin-top: 30px;

  pre {
    background-color: black;
    color: white;
    padding: 10px;
    border-radius: 3px;
  }
}

.bp3-omnibar {
  .task-tags {
    .bp3-tag {
      margin-right: 5px;
    }
  }
  .bp3-active {
    .bp3-text-muted {
      color: hsla(0,0%,100%,.7);
    }
    .task-tags {
      .bp3-tag {
        background-color: hsla(0,0%,100%,.7);
      }
    }
  }
}